.adv{
    margin: 100px 0 150px !important;
    position: relative;
}
.midImg{
    position: absolute;
    width: 30%;
    height: 100%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.leftAdv,
.rightAdv{
    background-color: #f7f7f7;
}
.leftAdv h6{
    font-size:15px ;
    font-family: Poppins;
    color: #ee626b;
    font-weight: 700;
    text-transform: uppercase
}
.leftAdv h1,
.rightAdv h1,
.leftAdv p,
.rightAdv p{
    font-family: poppins;
}

@media screen and (max-width: 768px) {
    .midImg{
        display: none;
    }
        .leftAdv p,
        .rightAdv p {
            font-size: 12px;
        }
                .leftAdv h1,
                .rightAdv h1{
                    font-size: 20px;
                }
    
}
